/*Global========================================================*/
.colorAccent{
	background-color: white;
}

.text{
	font-size: 18pt;
}

/*Sidebar=======================================================*/
.sidebar{
	position: fixed;
	height: 100%;
	width: 150px;
}

.icon{
	width: 90px;
	height: 90px;
	background-color: white;
	margin-left: 15px;
	margin-top: 50px;
}

/*Content*/

.content{
	margin-left: 60px
}
.inline{
	display: inline;
}

.right{
	float: right;
}

.welcome{
	color: gray;
	font-size: 30pt;
	padding-left: 20px;
	margin-top: 10px;
}


.heading{
	padding: 20px;
}

.title{
	/* font-size: 30pt;
	display: inline; */
	width: 76px;
	height: 28px;
	font-family: Oxygen;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.27;
	letter-spacing: normal;
	text-align: right;
	color: #555555;
	margin-top: 48px;
}

.graph {
	width: 400px;
	height: 300px;
}

.grid{
	margin-left: 150px;
}


