/*Global========================================================*/
.white{
	background-color: white;
}

.colorBackground{
	background-color: #f8f8f8;
}

.headingColor{
	color: #555555;
}


.fullHeight{
	height: 100%;
}

.def-text {
	font-family: Oxygen;
}

.center-text{
	text-align: center;
}

/*Sidebar=======================================================*/
.sidebar{
	position: fixed;
	height: 100%;
	width: 150px;
	margin: 0 auto;
	text-align: center;
}

.icon{
	width: 90px;
	height: 90px;
	background-color: white;
	margin-left: 15px;
	margin-top: 50px;
}

/*Content*/

.mainContent{
	margin-left: 150px;
	padding-left: 30px;
	padding-right: 20px;
}

.content{
padding-bottom: 30px;
}
.inline{
	display: inline;
}

.right{
	float: right;
}

.welcome{
	font-size: 30pt;
	padding-left: 20px;
	margin-top: 10px;
}


.heading{
	padding: 20px;
}

.title{
	/* font-size: 30pt;
	display: inline; */
	width: 76px;
	height: 28px;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.27;
	letter-spacing: normal;
	text-align: right;
	color: #555555;
	margin-top: 48px;
	display: inline-block
}

.graph {
	width: 400px;
	height: 100%;
	margin: 0 auto;
}

.grid{
	margin-left: 150px;
}

.account {
	width: 273px;
	height: 78px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}
